body {
    background-color: white;
}

.button{
    width: 90px;
    padding: 20px;
    color: black;
    background: white;
    border-radius: 90px;
    text-align: center;
}

.even{
    background-color: #DF3B57;
}

.odd{
    background-color: #f38093;
}

body{
    color: rgb(255, 255, 255);
    font-family: "Rubik",sans-serif;
    font-weight: 700;
    text-align: justify;
}

.members *{
    text-align: center;
}

.even,.odd, .even a, .odd a{
    color: rgb(255, 255, 255);
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 25px;
    padding-bottom: 25px;
    font-family: "Rubik",sans-serif;
    font-weight: 700;
    text-align: justify;
}

.even h3,.odd h3, .even li, .odd li{
    font-family: "Rubik",sans-serif;
    font-style: italic;
    text-decoration: underline;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100; 
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

#text {
    position: absolute;
    font-size: 5em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sec {
    position: relative;
    padding: 100px;
    background: #003329;
}

.sec h1{
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: white;
    font-size: 1.5em;
    font-weight: 300;
}

#intro {
    display: flex;
}

/* #intro .circle {
    flex: 1;
} */

#greenhouse {
  font-family: 'Space Mono', monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  text-align: center;
}

#greenhouse:hover {
  background-color: white;
  color: black;
}

#testing:hover {
    animation: 1s fadeIn;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      visibility: visible;
      opacity: 1;
    }
  }